* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

:root {
  --colorOne: #0496ff;
  --colorTwo: #006ba6;
  --colorThree: #ffbc42;
  --colorFour: #d81159;
  --colorFive: #8f2d56;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: var(--colorOne);
  background-color: var(--colorFour);
}

.nav-container {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  width: 100vw;
  height:10rem;
  position:static;
}
.upper-nav {
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  width: 100vw;
  height: 100px;
  background-color: var(--colorTwo);
  z-index: 1;
  position:inherit
}
.name-container {
  display:flex;
  flex-direction: row;
  align-self: flex-start;
  margin-top: 1rem;
  width: 325px;
  height: 45px;
  background-color: var(--colorThree);
 
  z-index: 1;
  }
  
.name {
  align-self: center;
  font-size: 2rem;
  font-weight:bold;
  flex-direction: row;
  text-indent: 1rem;
/*drop shadow here*/
    }
 
  .link-container{
    display:flex;
    flex-basis: content;
    justify-content:flex-end;
    height:3rem;
    width: 100vw;
    flex-direction:row;
    margin-top: 1rem; 
    /*drop shadow here*/
  }

.link-container > ul {
  display:flex;
  width:auto; 
  height:auto;
  align-items:space-between;
  list-style:none;
  font-size:1rem;
  margin-right: 1rem;
  color: var(--colorThree);
 
}

ul > li {
  margin-right: 1rem;
  margin-left: 1rem;
  font-size:1.25rem;
  /*pseudo-hover code here*/
  }

  .lower-nav {
    display:flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    position:inherit;
  }
.top-banner {
  display:flex;
  flex-direction:row-reverse;
  z-index: 999;
  width: 100vw;
  height: 5rem;
  margin-top: 0px;
  background-image:url( ../images/banner.jpeg);
  }

 .top-banner-text {
  display:flex;
   
  align-items: right;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  color:var(--colorFour)
    /*drop shadow here*/
  }

.main-container {
  background-color:var(--colorTwo);
  height:100vh;
  width: 100vw;
  display:flex;
  flex-direction:row
}

.left-row {
  display:flex;
  height:100vh;
  width:12rem;
  background-color: var(--colorFive);
  text-align:right;
  flex-direction:column;
  color:var(--colorThree)
  }

.about-me-header {
  text-align:inherit;
  margin-right:2rem;
  color:inherit;  

}

.work-examples-header {
  text-align:inherit;
  margin-right:2rem;
  color:inherit;  
}

.contact-me-header {
  text-align:inherit;
  margin-right:2rem;
  color:inherit;  

}

.right-row {
  display:flex;
  height:100vh;
  width:100vw;
  background-color: var(--colorTwo);
  text-align:left;
  flex-direction:column;
  color:var(--colorThree);
  font-size: .865rem;
}

.about-me-body {
  margin-top:2rem;
  margin-left:2rem;
  margin-right:2rem;
  margin-bottom:2rem;
  line-height:1.5rem;
}

.italicise {
  font-style:bold;
  font-style:italic;
  font-size:1rem;
}
/*:first-child 



.flex-item:hover 



@media screen and (max-width: 980px) {


@media screen and (max-width: 768px) {*/



